@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Allgemein */
:root {
    --nav-width: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter;
    margin: 0%;
    background-color: #ffffff;
    box-sizing: border-box;
}

section {
    display: flex;
    margin-left: calc(var(--nav-width) + 25px);
    height: 100vh;
    transition: margin-left 0.3s ease;
}

/* Navbar */

.navheader {
    margin-top: 3%;
    display: flex;
}

.logo {
    width: 30px;
    height: 30px;
    margin-top: 19%;
    margin-right: 4%;
}

@media (max-width: 1200px) {
    .logo {
        width: 25px;
        height: 25px;
        margin-top: 22%;
        margin-right: 3.5%;
    }
}

@media (max-width: 992px) {
    .logo {
        width: 20px;
        height: 20px;
        margin-top: 21%;
        margin-right: 3%;
    }
}


nav {
    position: fixed;
    background-color: #ffffff;
    padding: 0 2% 1% 1%;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    font-weight: 600;
    width: fit-content;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 130%;
    width: max-content;
}

nav ul li {
    margin-bottom: 32%;
    width: 120%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    transition: background-color 0.3s;
    padding: 5%;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    margin-top: 2%;
    margin-left: 7%;
}

@media (max-width: 1200px) {
    nav ul li a {
        font-size: 14px;
        margin-top: 3%;
        margin-left: 6%;
    }
}

@media (max-width: 992px) {
    nav ul li a {
        font-size: 12px;
        margin-top: 4%;
        margin-left: 5%;
    }
}

.navbar li:hover {
    background-color: #e1e1e1;
}

.navbar li.active {
    background-color: #e9e9e9;
}

nav h1 {
    font-size: 25px;
    width: max-content;
}

@media (max-width: 992px) {
    nav h1 {
        font-size: 23px;
        width: max-content;
    }
}

@media (max-width: 768px) {
    nav h1 {
        font-size: 21px;
        width: max-content;
    }
}

@media (max-width: 576px) {
    nav h1 {
        font-size: 19px;
        width: max-content;
    }
}

nav ul li span{
    position: relative;
  
}

/* Start Section */
.start {
    background-color: aqua;
    flex-direction: column;
}

.hidden {
  opacity:0;
}

.console-container {
  margin-top: 10%;
  font-size: 150%;
  color: #000000;
  z-index: 2;
  text-align:left;
  color:black;
  font-weight: 600;
  /* background-color: #294fce; */
}

.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
  color: #0026ff;
}

.startimage {
    position: absolute;
    height: 80%;
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin-left: 20%;
    margin-top: 5%;
    z-index: 1;
}

.startbutton {
    height: min-content;
    width: fit-content;
    font-size: large;
    padding: 0.5% 2%;
    text-decoration: none;
    background-color: #FBC821;
    border-style: none;
    border-radius: 2px;
}

.starttext {
    margin-top: 15%;
    margin-left: 15%;
    font-size: 200%;
    color: #000000;
    z-index: 2;
}

.starttext h1 {
    margin-bottom: 1%;
}

a {
    font-family: Inter;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
}

/* Aboutme Section*/
.aboutme {
    background-color: rgb(89, 89, 255);
}

.leftside-aboutme {
    padding-top: 4%;
    padding-left: 3%;
}

.portrait {
    width: 135%;
}

.rightside-aboutme {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-top: 4%;
    margin-left: 10%;
}

.description-aboutme {
    width: 95%;
}

.bottom-line-aboutme {
    border-bottom: 2px solid #0026ff; 
    margin-bottom: 2%;
  }

.skills {
    display: flex;
    /* background-color: #FBC821; */
}

.skills span {
    margin-top: 10px;
    margin-right: 1%;
    font-size: 300%;
}

/* Projects Section */
.projects {
    background-color: rgb(255, 108, 223);
}

.description-projects {
    margin: 2%;
}

/* Contact Section */
.contact {
    background-color: rgb(255, 206, 108);
}

.email {
    display: flex;
}

.email span {
    margin-top: 19px;
    margin-right: 1%;
}

.description-contact h1 {
    margin-bottom: 2%;
}

.bottom-line-contact {
    border-bottom: 2px solid #0026ff; 
    margin-bottom: 5%;
    width: 80%;
}

.leftside-contact {
    width: 30%;
    margin: 2%;
}

.socialmedia {
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.smicon {
    width: 25px;
}

.contact-form {
    width: 90vb;
    height: 80vh;
    margin-top: 3%;
    padding: 2em;
    padding-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


div + div {
    margin-top: 1em;
}

label {
    display: block;
    margin-bottom: .1em;
    color: #000000;
    font-weight: 600;
}

input, textarea {
    border: 1px solid #000000;
    width: 100%;
    box-sizing: border-box;
    padding: .5em;
    border-radius: 3px;
}
.inputname {
    width: 45%;
}

textarea {
    vertical-align: top;
    resize: vertical;
    height: 31vh;
    max-height: 31vh;
}

.message-container {
    height: 60vh;
}

.button-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.button {
    padding: 2.5% 20%;
    border: none;
    border-radius: 10px;
    background: #0437DE;
    color: white;
    font-size: 1em;
    cursor: pointer;
    font-weight:500;
    margin-bottom: 3.5%;
}
.button:hover {
    background: #294fce;
}